# HTTP server port
PORT=8080

# Arbitrum network configuration
ARB_RPC_URL=wss://arb-goerli.g.alchemy.com/v2/your-api-key
ARB_DEPOSITOR_ADDRESS=0x487177c3278faa36dd317dbb4ca97425a4f4ee31
CHAINLINK_ETH_USD_FEED=0x639Fe6ab55C921f74e7fac1ee960C0B6293ba612  # Chainlink ETH/USD price feed address, different for each network

# Monad network configuration
MONAD_RPC_URL=https://rpc-testnet.monad.xyz/
MONAD_DISTRIBUTOR_ADDRESS=0xc11350Fd29aC48181b0117bd1935dBE781cdd03d

# Webhook configuration
USE_QUICKNODE_WEBHOOK=false  # Set to true to use QuickNode webhook instead of polling for distribution events

# Wallet configuration
WALLET_PRIVATE_KEY=your-private-key-here  # Private key of the wallet that will sign transactions on both networks

# Admin configuration
ADMIN_API_KEY_1=your-first-admin-key-here  # First admin's API key for ratio management
ADMIN_API_KEY_2=your-second-admin-key-here # Second admin's API key for ratio management

# Add more environment variables as needed 